body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow: hidden;
}

.gym_timer {
    transform-origin: center top;
}

.rounds {
    background: white;
    color: black;
}

.prepare {
    background: yellow;
    color: black;
}

.round {
    background: green;
    color: black;
}

.warning {
    background: orange;
    color: black;
}

.rest {
    background: red;
    color: black;
}

.dialog {
    display: none;
}

#save_as_wrapper {
    display: none;
}

.logo {
    width: 100%;
    justify-self: flex-end;
}

.header {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: stretch;
}

.date_wrapper h1 {
    font-size: 4vw;
    margin: 0;
}

.date_wrapper h2 {
    font-size: 5vw;
    margin: 0;
}

.timer_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    justify-items: center;
    padding: 10px;
}

#round {
    text-align: center;
    font-size: 5vw;
    border: 1vw solid black;
    margin: 0 0 20px 0;
}

#timer {
    font-size: 18vw;
    margin: 0;
    text-align: center;
}

button {
    padding: 10px 15px;
    font-size: 1.5vw;
    border-radius: 10px;
    margin: 0 0.2vw;
    cursor: pointer;
    border: 2px solid black;
    color: black;
}

.buttons_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-top: 10px;
    flex-wrap: wrap;
}

.team_logo {
    max-width: 100%;
    max-height: 40vh;
}

#team_logo_input {
    display: none;
}

.input_wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.input_wrapper select {
    width: 100%;
}

#program_list {
    margin: 20px 0;
    width: 100%;
}

.radio_wrapper {
    margin: 10px 0;
}

#start_button{
    width: 11vw;
    margin: 0 1vw;
    cursor: pointer;
}

#refresh_button {
    margin: 0 1vw;
    width: 4vw;
    cursor: pointer;
}

.time_wrapper {
    display: flex;
    align-items: center;
}

.round_wrapper {
    width: 100%;
}

#settings_button {
    width: 50px;
}

.alarm_settings_wrapper {
    margin: 0 20px;
}